video {
  margin: 0;
  padding: 0;
}
/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  z-index: 2;
 
  max-width: 512px;
  text-align: center;
  width:100%;
}

.content__teaser {
  margin-bottom: 24px;
  color: Gold;/*#595959;*/
  font-size: 22px;
}
/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
